.caption-content {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0 0 0 6%;
}

.aboutMeTitle {
  font-size: 40px;
}

.aboutMeSubtitle {
  font-size: 20px;
}

.aboutMeText p {
  font-size: 18px;
}

/* .aboutMeImage {
  max-height: 700px;
} */

.pt-30 {
  padding-top: 100px !important;
}

.fa {
  font-size: 20px;
}

.module-small-home {
  position: relative;
  padding: 140px 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.module-small-home {
  padding: 70px 0;
  margin: 100px 0 100px 0;
}

.work-item:hover .work-image>img {
  -webkit-transform: scale(1.1) rotate(0deg);
  -ms-transform: scale(1.1) rotate(0deg);
  transform: scale(1.1) rotate(0deg);
}

.container {
    width: 90%;
}